VUE_APP_HOST=""
VUE_APP_HTTP_PORT=""
VUE_APP_HTTPS_PORT=""
VUE_APP_USERNAME=""
VUE_APP_JIRA_TOKEN=""
VUE_APP_KEY_PAIR_PATH=""
VUE_APP_HTTPS_CERT=""
VUE_APP_HTTPS_PRIV_KEY=""
VUE_APP_JIRA_HOST="https://americor.atlassian.net/rest/api/3/"